{% extends 'base.html'%}
{% block body %}


<div class="container"><br><br>
    <div class="row"><br>
         {% for i in movie_list %}
        <div class="col-mp-3 mb-3 mr-3" ><br>

         <div class="card custom-card" style="width: 18rem; "><br>
  <div class="card-body"><br>
      <img src="{{i.img.url}}" width="250px" height="300px"><br>
    <h5 class="card-title">{{i.name}}</h5>
    <a class='btn btn-danger' href="{% url 'movieapp:detail' i.id %}" class="{{i.des}}">View Detail</a><br>
  </div>
</div>
        </div>
         {% endfor %}
    </div>
</div>













{% endblock %}



































#
# def generateRecommendation(request):
#     movie = Movie.objects.all()
#     rating = Rating.objects.all()
#     x = []
#     y = []
#     A = []
#     B = []
#     C = []
#     D = []
#     # Movie Data Frames
#     for item in movie:
#         x = [item.id, item.title, item.movieduration, item.image.url, item.genres]
#         y += [x]
#     movies_df = pd.DataFrame(y, columns=['movieId', 'title', 'movieduration', 'image', 'genres'])
#     print("Movies DataFrame")
#     print(movies_df)
#     print(movies_df.dtypes)
#     # Rating Data Frames
#     print(rating)
#     for item in rating:
#         A = [item.user.id, item.movie, item.rating]
#         B += [A]
#     rating_df = pd.DataFrame(B, columns=['userId', 'movieId', 'rating'])
#     print("Rating data Frame")
#     rating_df['userId'] = rating_df['userId'].astype(str).astype(int)
#     rating_df['movieId'] = rating_df['movieId'].astype(str).astype(int)
#     rating_df['rating'] = rating_df['rating'].astype(str).astype(int)
#     print(rating_df)
#     print(rating_df.dtypes)
#     if request.user.is_authenticated:
#         userid = request.user.id
#         # select related is join statement in django.It looks for foreign key and join the table
#         userInput = Rating.objects.select_related('movie').filter(user=userid)
#         if userInput.count() == 0:
#             recommenderQuery = None
#             userInput = None
#         else:
#             for item in userInput:
#                 C = [item.movie.title, item.rating]
#                 D += [C]
#             inputMovies = pd.DataFrame(D, columns=['title', 'rating'])
#             print("Watched Movies by user dataframe")
#             inputMovies['rating'] = inputMovies['rating'].astype(str).astype(int)
#             print(inputMovies.dtypes)
#
#             # Filtering out the movies by title
#             inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#             # Then merging it so we can get the movieId. It's implicitly merging it by title.
#             inputMovies = pd.merge(inputId, inputMovies)
#             # #Dropping information we won't use from the input dataframe
#             # inputMovies = inputMovies.drop('year', 1)
#             # Final input dataframe
#             # If a movie you added in above isn't here, then it might not be in the original
#             # dataframe or it might spelled differently, please check capitalisation.
#             print(inputMovies)
#
#             # Filtering out users that have watched movies that the input has watched and storing it
#             userSubset = rating_df[rating_df['movieId'].isin(inputMovies['movieId'].tolist())]
#             print(userSubset.head())
#
#             # Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
#             userSubsetGroup = userSubset.groupby(['userId'])
#
#             # print(userSubsetGroup.get_group(7))
#
#             # Sorting it so users with movie most in common with the input will have priority
#             userSubsetGroup = sorted(userSubsetGroup, key=lambda x: len(x[1]), reverse=True)
#
#             print(userSubsetGroup[0:])
#
#             userSubsetGroup = userSubsetGroup[0:]
#
#             # Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
#             pearsonCorrelationDict = {}
#
#             # For every user group in our subset
#             for name, group in userSubsetGroup:
#                 # Let's start by sorting the input and current user group so the values aren't mixed up later on
#                 group = group.sort_values(by='movieId')
#                 inputMovies = inputMovies.sort_values(by='movieId')
#                 # Get the N for the formula
#                 nRatings = len(group)
#                 # Get the review scores for the movies that they both have in common
#                 temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
#                 # And then store them in a temporary buffer variable in a list format to facilitate future calculations
#                 tempRatingList = temp_df['rating'].tolist()
#                 # Let's also put the current user group reviews in a list format
#                 tempGroupList = group['rating'].tolist()
#                 # Now let's calculate the pearson correlation between two users, so called, x and y
#                 Sxx = sum([i ** 2 for i in tempRatingList]) - pow(sum(tempRatingList), 2) / float(nRatings)
#                 Syy = sum([i ** 2 for i in tempGroupList]) - pow(sum(tempGroupList), 2) / float(nRatings)
#                 Sxy = sum(i * j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList) * sum(
#                     tempGroupList) / float(nRatings)
#
#                 # If the denominator is different than zero, then divide, else, 0 correlation.
#                 if Sxx != 0 and Syy != 0:
#                     pearsonCorrelationDict[name] = Sxy / sqrt(Sxx * Syy)
#                 else:
#                     pearsonCorrelationDict[name] = 0
#
#             print(pearsonCorrelationDict.items())
#
#             pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
#             pearsonDF.columns = ['similarityIndex']
#             pearsonDF['userId'] = pearsonDF.index
#             pearsonDF.index = range(len(pearsonDF))
#             print(pearsonDF.head())
#
#             topUsers = pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:]
#             print(topUsers.head())
#
#             topUsersRating = topUsers.merge(rating_df, left_on='userId', right_on='userId', how='inner')
#             topUsersRating.head()
#
#             # Multiplies the similarity by the user's ratings
#             topUsersRating['weightedRating'] = topUsersRating['similarityIndex'] * topUsersRating['rating']
#             topUsersRating.head()
#
#             # Applies a sum to the topUsers after grouping it up by userId
#             tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex', 'weightedRating']]
#             tempTopUsersRating.columns = ['sum_similarityIndex', 'sum_weightedRating']
#             tempTopUsersRating.head()
#
#             # Creates an empty dataframe
#             recommendation_df = pd.DataFrame()
#             # Now we take the weighted average
#             recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating'] / \
#                                                                          tempTopUsersRating['sum_similarityIndex']
#             recommendation_df['movieId'] = tempTopUsersRating.index
#             recommendation_df.head()
#
#             recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score',
#                                                               ascending=False)
#             recommender = movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(5)['movieId'].tolist())]
#             print(recommender)
#             return recommender.to_dict('records')




#
# def generateRecommendation(request):
#     # Fetching movie and rating data
#     movies = Movie.objects.all()
#     ratings = Rating.objects.all()
#
#     # Creating DataFrames for movies and ratings
#     movies_data = [[movie.id, movie.title, movie.movieduration, movie.image.url, movie.genres] for movie in movies]
#     movies_df = pd.DataFrame(movies_data, columns=['movieId', 'title', 'movieduration', 'image', 'genres'])
#     print("Movies DataFrame")
#     print(movies_df)
#     print(movies_df.dtypes)
#
#     ratings_data = [[rating.user.id, rating.movie.id, rating.rating] for rating in ratings]
#     ratings_df = pd.DataFrame(ratings_data, columns=['userId', 'movieId', 'rating'])
#     print("Ratings DataFrame")
#     print(ratings_df)
#     print(ratings_df.dtypes)
#
#     # Extracting user's watched movies and ratings if authenticated
#     if request.user.is_authenticated:
#         userid = request.user.id
#         user_ratings = Rating.objects.filter(user=userid).select_related('movie')
#
#         if user_ratings.count() == 0:
#             return None
#
#         watched_movies_data = [[rating.movie.title, rating.rating] for rating in user_ratings]
#         watched_movies_df = pd.DataFrame(watched_movies_data, columns=['title', 'rating'])
#         print("Watched Movies by user dataframe")
#         watched_movies_df['rating'] = watched_movies_df['rating'].astype(int)
#         print(watched_movies_df.dtypes)
#
#         # Filtering movies by title and merging with ratings
#         watched_movies_merged = pd.merge(movies_df, watched_movies_df, on='title')
#         print(watched_movies_merged)
#
#         # Filtering out users who watched same movies as the input user
#         user_subset = ratings_df[ratings_df['movieId'].isin(watched_movies_merged['movieId'].tolist())]
#         print(user_subset.head())
#
#         # Grouping users by userId
#         user_subset_grouped = user_subset.groupby('userId')
#
#         # Calculating Pearson correlation coefficient
#         pearson_correlation_dict = {}
#         # for name, group in user_subset_grouped:
#         #     n_ratings = len(group)
#         #     temp_df = watched_movies_merged[watched_movies_merged['movieId'].is in(group['movieId'].tolist())]
#         #     temp_ratings = temp_df['rating'].tolist()
#         #     temp_group_ratings = group['rating'].tolist()
#         #     Sxx = sum([i ** 2 for i in temp_ratings]) - pow(sum(temp_ratings), 2) / float(n_ratings)
#         #     Syy = sum([i ** 2 for i in temp_group_ratings]) - pow(sum(temp_group_ratings), 2) / float(n_ratings)
#         #     Sxy = sum(i * j for i, j in zip(temp_ratings, temp_group_ratings)) - sum(temp_ratings) * sum(
#         #         temp_group_ratings) / float(n_ratings)
#         #     if Sxx != 0 and Syy != 0:
#         #         pearson_correlation_dict[name] = Sxy / sqrt(Sxx * Syy)
#         #     else:
#         #         pearson_correlation_dict[name] = 0
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#         print(pearson_correlation_dict.items())
#
#         pearson_df = pd.DataFrame.from_dict(pearson_correlation_dict, orient='index')
#         pearson_df.columns = ['similarityIndex']
#         pearson_df['userId'] = pearson_df.index
#         pearson_df.index = range(len(pearson_df))
#         print(pearson_df.head())
#
#         top_users = pearson_df.sort_values(by='similarityIndex', ascending=False)
#         print(top_users.head())
#
#         top_users_ratings = top_users.merge(ratings_df, on='userId', how='inner')
#         top_users_ratings.head()
#
#         # Weighted rating calculation
#         top_users_ratings['weightedRating'] = top_users_ratings['similarityIndex'] * top_users_ratings['rating']
#         top_users_ratings.head()
#
#         # Aggregating weighted ratings
#         temp_top_users_ratings = top_users_ratings.groupby('movieId').sum()[['similarityIndex', 'weightedRating']]
#         temp_top_users_ratings.columns = ['sum_similarityIndex', 'sum_weightedRating']
#         temp_top_users_ratings.head()
#
#         # Calculating recommendation scores
#         recommendation_df = pd.DataFrame()
#         recommendation_df['weighted_average_recommendation_score'] = temp_top_users_ratings['sum_weightedRating'] / \
#                                                                      temp_top_users_ratings['sum_similarityIndex']
#         recommendation_df['movieId'] = temp_top_users_ratings.index
#         recommendation_df = recommendation_df.sort_values(by='weighted_average_recommendation_score', ascending=False)
#         recommender = movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(5)['movieId'].tolist())]
#         print(recommender)
#         return recommender.to_dict('records')
#
#     else:
#         return None



# def addmovie(request):
#     if  request.user.is_staff:
#         if request.method == 'POST':
#             fm = AddMovieForm(request.POST, request.FILES)
#             if fm.is_valid():
#                 fm.save()
#                 messages.success(request, 'Movie Added Successfully')
#                 return redirect('/')
#         else:
#             fm = AddMovieForm()
#         return render(request, 'addmovie.html', {'form': fm})
#     else:
#         return redirect('/')



    <!-- left and right controls for the slide -->
<!--    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon"></span>-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">-->
<!--        <span class="carousel-control-next-icon"></span>-->
<!--    </a>-->






<!--                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>-->
<!--                            <div class="file btn btn-lg btn-primary">-->
<!--                                Change Photo-->
<!--                                <input type="file" name="file"/>-->
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-md-6">-->
<!--                        <div class="profile-head">-->
<!--                                    <h5>-->
<!--                                        @{{request.user.username}}-->
<!--                                    </h5>-->
<!--                                    <p class="proile-rating">Total Review : <span>{{totalReview}} stars</span></p>-->
<!--                            <ul class="nav nav-tabs" id="myTab" role="tablist">-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-2">-->
<!--                    <form action="" method="post">-->
<!--                    {% csrf_token %}-->
<!--                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>-->
<!--                    </form>-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col-md-4">-->
<!--                        <div class="profile-work">-->
<!--                        -->
<!--                        </div>-->
<!--                    </div>-->









!--                                <form action="post">-->
<!--                                <input type="text" name="first_name" placeholder="Enter the First Name"><br><br>-->
<!--                                    </form>-->
<!--&lt;!&ndash;                                        <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <label>First Name</label>&ndash;&gt;-->
<!--                                            </div>-->














<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Email</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p>{{request.user.email}}</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        {% if request.user.is_staff %}-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Possession</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p>Admin</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        {% else %}-->
<!--                                           <div class="row">-->
<!--                                            <div class="col-md-6">-->
<!--                                                <label>Possession</label>-->
<!--                                            </div>-->
<!--                                            <div class="col-md-6">-->
<!--                                                <p>User-->
<!--                                                </p>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        {% endif %}-->

<!--                            </div>-->












    <!--                                <div class="row">-->
<!--                                    <div class="col-md-12">-->
<!--                                        <label>Your Bio</label><br/>-->
<!--                                        <form action="">-->
<!--                                        {% csrf_token %}-->
<!--                                        <div class="form-group">-->
<!--                                        <textarea name="bio"  cols="30" rows="10" class="form-control"></textarea>-->
<!--                                        </div>-->
<!--                                        <input type="submit" value="Update Bio" class="btn btn-primary">-->
<!--                                        </form>-->
<!--                                        <p>Your detail description</p>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--</form>-->
<!--</div>-->












# def search_by_title(request):
#     query = None
#     movies = None
#     if 'q' in request.GET:
#         query = request.GET.get('q')
#         movies = Movie.objects.filter(Q(title_icontains=query) | Q(genre_icontains=query))
#     return render(request, 'search.html', {'query': query, 'movies': movies})






# def search_by_title(request):
#     title=None
#     query=None
#     if 'q' in request.GET:
#         query=request.GET.get('q')
#         title=Movie.objects.all().filter(Q(title__contains=query) | Q(description__contains=query))
#     return render(request,'search.html',{'query':query,'title':title})
#
#

# def deletemovie(request):
#     if  request.user.is_authenticated:
#         if request.method == 'POST':
#             fm = DeleteMovieForm(request.POST, request.FILES)
#             if fm.is_valid():
#                 fm.delete()
#                 messages.success(request, 'Movie Deleted Successfully')
#                 return redirect('/')
#         else:
#             fm = AddMovieForm()
#         return render(request, 'delete.html', {'form': fm})
#     else:
#         return redirect('/')




# def deletemovie(request):
#     if request.user.is_authenticated:
#         params = filterMovieByGenre()
#         params['user'] = request.user
#         if request.method == 'POST':
#             userid = request.POST.get('userid')
#             movieid = request.POST.get('movieid')
#             movi = Movie.objects.all()
#             u = User.objects.get(pk=userid)
#             m = Movie.objects.get(pk=movieid)
#             dfm  = DeleteMovieForm(request.POST, request.FILES)
#             params['rform'] = dfm
#             if dfm.is_valid():
#                 rat =dfm.cleaned_data['delete']
#                 count = Rating.objects.filter(user=u, movie=m).count()
#                 if (count > 0):
#                     messages.warning(request, 'You have already submitted your review!!')
#                     return render(request, 'dashboard.html', params)
#                 action = Rating(user=u, movie=m, rating=rat)
#                 action.save()
#                 messages.success(request, 'You have submitted' + ' ' + rat + ' ' + "star")
#             return render(request, 'dashboard.html', params)
#         else:
#             # print(request.user.id)
#             dfm =DeleteMovieForm()
#             params['dform'] = dfm
#             movi = Movie.objects.all()
#             return render(request, 'delete.html', params)
#     else:
#         return HttpResponseRedirect('/login/')
#
#
<!-- left and right controls for the slide -->
<!--    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">-->
<!--        <span class="carousel-control-prev-icon"></span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">-->
<!--        <span class="carousel-control-next-icon"></span>-->
<!--    </a>-->